body{
    margin: 0%
}

nav{
    width: 99,4%;
    height: 50px;
    background-color: orange;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav a{
    color: rgb(247, 247, 247);
    text-decoration: none;
    font-size: 15pt;
}

nav a:hover{
    text-decoration: underline;
}
header{
    width: 99,4%;
    height: 540px;
    background-image: url(perry.jpg);
    background-size: cover;
    background-position: center; 
    border-bottom: 15px orange solid;
    border-right: 15px orange solid;
    border-top: 15px orange solid;
    border-left: 15px orange solid;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 200px; 
}

div img{
    border-radius: 100%;
}